.visa{
    float: right;
    margin-right: 20px;
    margin-top: -70px;
    width: 90px;
}
.master{
    float: right;
    margin-right: 20px;
    margin-top: -85px;
    width: 90px;
}
.container{
    width: 700px;
}
.divcls{
    width: 315px;
    height: 200px;
    padding: 0;
    margin: 10px;
    border-radius: 10px;
    padding-left: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    float: left;
}
.num{
    font-weight: 200;
    font-size: 25px;
    padding-bottom: 0;
    margin: 0;
    margin-top: -5px;
}
.name{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 0;
    margin: 0;
    font-family: monospace;
}
.valid{
    font-size: 9px;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}
.date{
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}
.card1{
    background-color: #8a2be2;
}
.card2{
    background-color: black;
}
.card3{
    background-color: green;
}
.card4{
    background-color: blue;
}
img{
    width: 50px;
    padding-top: 35px;
    margin-left: -5px;
}
